*.bed
!spec/*.bed
*.Rda
!spec/*.Rda
*.vcf
!spec/*.vcf
*.csv
!spec/*.csv
*.fa
!spec/*.fa
*.tsv
!spec/*.tsv
!spec/data/VEP_annotations/BRCA2.tsv
!spec/data/VEP_annotations/BRCA1.tsv
!spec/data/VEP_annotations/TP53.tsv
*.env
!spec/*.env
lib/ensembl-vep/
lib/ensembl-vep-release-112/
